footer {
    background-color: #00FF00;
    height: 60px;
    width: 100%;
    text-align: center;
    line-height: 60px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

}
footer span {
    display: inline-block;
    vertical-align: middle;
}